
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #043031;
  height: 640px;
  padding: 25px;
  color: #b7bdb7;
  text-shadow: 20px 2px 40px rgba(124, 0, 0, 0.4);
}

.App-header h2 {
  background-color: #ff7b001e;
  height: 50px;
  padding: 15px;
  color: #b7bdb7;
  text-shadow: 20px 2px 40px rgba(124, 0, 0, 0.4);
}

.form-group {
  margin-bottom: 20px;
}

.enlarged-button {
  font-size: 15px;
  padding: 10px 10px;
}

